      <%= @pitches.each do |pitch| %>

      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="team boxed-grey">
          <div class="inner">
            <h3><%= link_to @pitch.title, pitch_path %></h3>
            <div class="avatar"><img src="img/team/3.jpg" alt="" class="img-responsive img-circle" /></div>
          </div>
        </div>
      </div>
<% end %>
