<!-- Section: about -->
<section id="about" class="home-section text-center">
  <div class="heading-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="section-heading">
            <h2>Top Pitches</h2>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">

              <h3><%= link_to @pitches.first.title %></h3>

              <div class="avatar"><img src="images/team/1.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h3><%= link_to @pitches.second.title %></h3>
              <div class="avatar"><img src="imgages/team/2.jpg" alt="" class="img-responsive img-circle" /></div>

            </div>
          </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h3><%= link_to @pitches.third.title %></h3>
              <div class="avatar"><img src="img/team/3.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="team boxed-grey">
            <div class="inner">
              <h3><%= link_to "+New Pitch", new_pitch_path %></h3>
              <div class="avatar"><img src="img/team/3.jpg" alt="" class="img-responsive img-circle" /></div>
            </div>
          </div>
      </div>


    </div>
  </div>
</section>
<!-- /Section: about -->
