
<center>
  <div class="banner">
      <ul class="banner-ul">
          <li>
            <img src="/images/dreams_banner.png" style ="height: 100%; width: 100%;" >
          </li>
          <li>
            <img src="/images/grandma_banner.png" style ="height: 100%; width: 100%;">
          </li>
          <li>
            <img src="/images/halal_banner.png" style ="height: 100%; width: 100%;">
          </li>
          <li>
            <img src="/images/marathon_banner.png" style ="height: 100%; width: 100%;">
          </li>
      </ul>
  </div>
</center>

