<div class="banner-fix">
  <div class="banner">
      <ul class="banner-ul">
          <li>
            <img src="/images/dreams_banner.png" alt="">
          </li>
          <li>
            <img src="/images/grandma_banner.png" alt="">
          </li>
          <li>
            <img src="/images/halal_banner.png" alt="">
          </li>
          <li>
            <img src="/images/marathon_banner.png" alt="">
          </li>
      </ul>
  </div>
</div>