
    <section id="intro" class="intro">

    <div class="slogan">
      <h2>WELCOME TO <span class="text_color">PITCHSTARTER</span> </h2>
      <h3>LET OS PITCH SOMETHING BEAUTIFUL AND MEANINGFUL</h3>
    </div>
    </section>
